@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-wrap-normal {
  overflow-wrap: normal;
}

.overflow-wrap-break-word {
  overflow-wrap: break-word;
}

.overflow-wrap-anywhere {
  overflow-wrap: anywhere;
}
@layer utilities {
  .place-center{
    @apply flex justify-center items-center
  }
  .left_sidebar {
    @apply fixed left-0 top-0 bottom-0 z-50  flex w-fit flex-col  justify-between bg-white-1     border-r-4 border-primary-2 pt-4 text-white-1 max-lg:hidden lg:w-[270px] ;
  }
  .right_sidebar {
    @apply fixed right-0 top-0 bottom-0 z-50  w-fit flex-col  gap-4  bg-white-1   border-l-4 border-primary-2 pt-4 text-white-1 hidden xl:flex xl:w-[270px] pl-4 ;
  }
}

.react-datepicker__header {
  text-align: center;
  background-color: #95bef9;
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}
.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 0.8rem;
  background-color: #d88080;
  color: #000;
  border: 1px solid #aeaeae;
  border-radius: 0.3rem;
  display: inline-block;
  position: relative;
  line-height: initial;
}
.list-item {
  height: 30px;
  padding: 5px 10px;
  white-space: nowrap;
  background-color: red;
}
/* ===== custom classes ===== */

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #15171c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222429;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-auth {
  background: rgba(6, 3, 3, 0.711);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-black {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}

